.game {
  &__wrapper {
    display: flex;
    height: 100vh;

    @include flex-centered;
  }

  &__canvas {
    &__wrapper {
      width: rem(700px);
      height: rem(500px);
      position: relative;

      @include flex-centered;
    }

    &__state {
      position: absolute;
      bottom: rem(-40px);
      font-family: "Orbitron", sans-serif;
      color: #fff;
      font-size: rem(18px);
      text-transform: uppercase;

      &.active {
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-duration: 3s;
      }

      @include smooth-hide-show;
    }
  }

  &__score {
    color: #fff;
    font-size: rem(20px);
    font-family: "Orbitron", sans-serif;
  }
}
