.game {
  &__score {
    @extend %container;

    @include flex-centered;

    //
    flex-flow: column;

    &__content {
      margin-top: rem(10px);
      display: block;
      border: rem(2px) solid grey;
      width: 25%;
      padding: rem(5px) rem(10px);
      text-align: center;
    }
  }
}
