.game__textures {
  img {
    width: 20px;
    height: 20px;
    opacity: 0;
    visibility: hidden;
    position: absolute;

    &#snake-head-texture {
      width: 10px;
      height: auto;
    }
  }
}
