@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.animated {
  animation-duration: 3s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

.fadeInUp {
  animation-name: fadeIn;
}

.fadeInRight {
  animation-name: fadeInRight;
}

.fade {
  animation-name: fade;
}
