%button {
  color: #fff;
  border: rem(3px) solid #fff;
  background: #000;
  padding: rem(10px) 0;
  font-family: "Orbitron", sans-serif;
  outline: none;
  text-align: center;
  text-decoration: none;
}
