.home {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 100vh;
    z-index: $homeOverlay;

    @include smooth-hide-show;
  }

  &__nickname {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: $homeOverlayContent;

    @include smooth-hide-show;

    &__form {
      display: flex;
      flex-flow: column;
    }

    &__field {
      outline: none;
      color: $color-lightblue;
      background: rgba(255, 255, 255, 0.8);
      border: rem(2px) solid #000;
      padding: rem(10px);
      font-family: "Orbitron", sans-serif;
      font-weight: 100;
      transition: border-color 250ms ease-in-out;
      text-align: center;

      &::placeholder {
        color: #000;
        transition: color 250ms ease-in-out;
      }

      &:focus {
        border-color: $color-lightblue;
        color: $color-lightblue;

        &::placeholder {
          color: $color-lightblue;
        }
      }
    }

    &__save {
      margin: rem(10px) auto 0 auto;
      width: 100%;

      &:not(.active) {
        position: absolute;
      }

      @extend %button;

      @include smooth-hide-show;
      @include button-transition;
    }

    &__close {
      margin-top: rem(10px);

      @extend %button;

      @include button-transition;
    }
  }
}
