.home__wrapper {
  width: 100%;
  height: 100vh;
  flex-flow: column;

  @include flex-centered;

  &__title {
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    font-size: rem(48px);
    margin-bottom: rem(30px);
  }

  &__options {
    width: 40%;
    max-width: rem(500px);
    flex-flow: column;

    @include flex-centered;
  }

  &__option {
    width: 50%;
    border: rem(3px) solid #fff;
    background-color: #000;
    padding: rem(15px);
    display: block;
    margin: rem(5px) 0;
    color: #fff;
    transition: background-color 500ms, color 500ms ease-in-out;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    text-decoration: none;

    &:hover {
      background-color: #fff;
      color: #000;
    }
  }

  &__sidenote {
    margin-top: rem(50px);

    &__image {
      width: rem(100px);
    }
  }
}
