<!DOCTYPE html>
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Snake Game
    link(rel="stylesheet", href="../css/game.css")
    link(rel="stylesheet", href="../css/global.css")
    script(src="../js/game.js")
    script(src="../js/vendor.js")
  body
    section(class="game__wrapper fadeInRight")
      div(class="game__controls")
        span(class="game__controls__commands") Welcome to Snake Game! Here you can play the game, save your highscore and compete in the leaderboards with your friends!
        
        span(class="game__controls__commands") But be careful, the map is riddled with challenges and the map gets smallers as you play.

        span(class="game__controls__commands") You can use both the arrows or wasd to move the snake
        div(class="game__controls__buttons")
          include partials/movement-keys.pug

        span(class="game__controls__commands") It is also possible to pause the game by pressing space
        button(class="game__controls__pause js--key-pause")

      div(class="game__canvas__wrapper")
        canvas(width="700" height="500" id="game" class="game__canvas")
        span(class="js--pause game__canvas__state fade") Paused

      div(class="game__options")
        span(class="game__options__nickname js--game-nickname")
        span(class="game__options__content js--score") 0
        div(class="game__options__sound js--toggle-sound")
          include icons/mute.svg
          include icons/play.svg

      div(class="game__sounds")
        include partials/sounds.pug
