div(class="game__controls__buttons__wrapper")
  div(class="game__button js--key-w") W
  div(class="game__button js--key-a") A
  div(class="game__button js--key-s") S
  div(class="game__button js--key-d") D

div(class="game__controls__buttons__wrapper")
  div(class="game__button js--key-up") ↑
  div(class="game__button js--key-left") ←
  div(class="game__button js--key-down") ↓
  div(class="game__button js--key-right") →