audio(src="../assets/background-music.mp3" type="" class="js--background-sound")
audio(src="../assets/eat-effect.mp3" type="" class="js--food-effect")
audio(src="" type="" class="js--danger-sound")
audio(src="../assets/gameover-music.mp3" type="" class="js--gameover-sound")